#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.logo img {
    padding: 10px;
}
.longformLogo {
    padding: 5px;
}
#mobileNav {
    display: flex;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    vertical-align: top;
}
#navigationLinks {
    display: inline-flex;
    width: 50%;
    height: 100px;
    justify-content: space-evenly;
    font-weight: bold;
    transition: ease-in-out 100ms;
    align-items: center;
}
#navigationLinks p {
    cursor: pointer;
    align-items: center;
    transition: ease-in-out 100ms;
}
#navigationLinks p:hover {
    color: #ffffff;
    background-color: #3A15BF;
    padding: 9px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 9px;
    align-items: center;
}
/* .inline-block {
    display: inline-block;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.logo {
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
}

nav {
    width: 80%;
    text-align: end;
}

header {
    height: auto;
    justify-content: space-between;
    background-color: #FFFFFF;
}

ul {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

li {
    padding-left: 2%;
    padding-right: 2%;
} */


.heroBanner {
    display: flex;
    flex-direction: row;
    height: 600px;
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-content: center;
    align-items: center;
    color: #21243d;
    background-color: #f24405;
    transition: ease-in-out 1s;
}
.heroImg {
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap-reverse;
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-content: center;
    align-items: center;
    color: #21243d;
    background-color: #f29f05;
    transition: ease-in-out 1s;
}

.contentText {
    max-width: 325px;
    max-height: fit-content;
    /* background-color: #FFFFFF; */
    text-align: left;
    padding: 50px;
    color: #21243d;
    background-color: #049dd9
    /* position: absolute; */

}
.contentImage {

}
.heroImg:hover {
    scale: 1.2;
}

footer {
    background-color: #FFFFFF;
    text-align: center;
    padding: 3%;
    color: #21243d;
}


/*            HW 18  -  My UX Skills & My Work        */


.flexContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f29f05;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    /* max-width: 1100px; */
    justify-self: center;
}
.flexContainer > div {
    margin: 2%;
    width: 237px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.workGrid {
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "projectA projectABlurb projectABlurb"
    "projectB projectBBlurb projectBBlurb"
    "projectC projectCBlurb projectCBlurb";
    grid-auto-rows: 200px;
    /* justify-content: space-evenly; */
    background-color: #049dd9;
    justify-self: center;
}
/* .workGrid > div {
    margin: 5%;
    padding: 10px;
    /* max-width: 600px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    justify-content: center;
} */

#projectA {
    grid-area: projectA;
    background-image: url("../Images/FTC\ Desktop.png");
}
#projectB {
    grid-area: projectB;
    background-image: url("../Images/Project\ 2.jpg");
}
#projectC {
    grid-area: projectC;
    background-image: url("../Images/Project\ 3.jpg");
}
#projectABlurb {
    grid-area: projectABlurb;
    background-color: #f2b705;
    margin: 5px;
    padding: 15px;
}
#projectBBlurb {
    grid-area: projectBBlurb;
    background-color: #f2b705;
    margin: 5px;
    padding: 15px;
}
#projectCBlurb {
    grid-area: projectCBlurb;
    background-color: #f2b705;
    margin: 5px;
    padding: 15px;
}
.snippet {
    background-color: #f24405;
    text-align: right;
    max-width: 600px;
}
.categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}
@media only screen and (min-width: 1000px) {
    #mobileNav {
        display: none;
        transition: ease-in 1s;
    }
}

@media only screen and (max-width: 1000px) {
    #navigationLinks {
        display: none;
        transition: ease-out 3s;
    }
    .workGrid {
        margin: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .heroImg:hover {
        scale: 1;
    }

}

/*           Styles        */

body {
    font-family: 'Heebo', sans-serif;
}
button {
    width: 150px;
    height: 45px;
    border-radius: 9px;
    background-color: #3A15BF;
    color: #FFFFFF;
    cursor: pointer;
}
section.myWork h3 {
    text-align: center;
    margin-bottom: 75px;
}
section.myWork h1 {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
}
section.mySkills h1 {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
}
