#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 2%;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 10px;

}
.logo img {
    padding: 10px;
}
.longformLogo {
    padding: 5px;
}
#mobileNav {
    display: flex;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    vertical-align: top;
}
#navigationLinks {
    display: inline-flex;
    width: 50%;
    height: 100px;
    justify-content: space-evenly;
    font-weight: bold;
    transition: ease-in-out 100ms;
    align-items: center;
}
#navigationLinks p {
    cursor: pointer;
    align-items: center;
    transition: ease-in-out 100ms;
}
#navigationLinks p:hover {
    color: #ffffff;
    background-color: #3A15BF;
    padding: 9px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 9px;
    align-items: center;
}
/* .inline-block {
    display: inline-block;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.logo {
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
}

nav {
    width: 80%;
    text-align: end;
}

header {
    height: auto;
    justify-content: space-between;
    background-color: #FFFFFF;
}

ul {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

li {
    padding-left: 2%;
    padding-right: 2%;
} */


.heroBanner {
    display: flex;
    flex-direction: row;
    height: 600px;
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-content: center;
    align-items: center;
    color: #21243d;
    /* background-color: #f24405; */
    transition: ease-in-out 1s;

}
.hero {
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap-reverse;
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-content: center;
    align-items: center;
    color: #21243d;
    /* background-color: #f29f05; */
    transition: ease-in-out 1s;
}

.contentText {
    max-width: 325px;
    max-height: fit-content;
    /* background-color: #FFFFFF; */
    text-align: left;
    padding: 50px;
    color: #21243d;
    /* background-color: #049dd9 */
    /* position: absolute; */

}
.hero:hover {
    scale: 1.2;
}

footer {
    text-align: center;
    color: #21243d;
    padding-top: 100px;
}


/*            HW 18  -  My UX Skills & My Work        */


.flexContainer {
    display: flex;
    flex-wrap: wrap;

    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    justify-self: center;
}
.flexContainer > div {
    margin: 2%;
    width: 237px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.workGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.myWork {
    /* Works Preview Grid */
    /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        justify-content: center;
        justify-self: center;
        /* margin-left: 10%;
        margin-right: 10%; */
    
        

        /* position: static; */
        /* width: 908px;
        height: 920px;
        /* left: 122px;
        top: 788px; */

    /* Inside auto layout */
        /* flex: none;
        order: 2;
        flex-grow: 0; */
        /* margin: 150px 150px; */
}
#featuredWorks {
    /* Section Title */
        position: static;
        width: 152px;
        height: 60px;
        left: 25px;
        top: 25px;
        align-self: flex-start;
        padding-bottom: 30px;
        position: relative;
        font-family: Heebo;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 60px;
    /* identical to box height, or 273% */
        color: #21243D;

    /* Inside auto layout */
        /* flex: none;
        order: 0;
        flex-grow: 0;
        margin: 30px 0px; */
}
#viewProjects {
    /* View all projects */
        position: static;
        width: 698px;
        height: 60px;
        left: 25px;
        top: 835px;

        font-family: Heebo;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 60px;
    /* identical to box height, or 273% */
        text-align: center;

        color: #21243D;
}
.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        padding: 0px;

        /* position: static; */
        align-self: stretch;


}

.worksButton {
        display: none;
}

/*------------------------------------PROJECT TITLE------------------------------------*/
section.myWork h4 {
        /* position: static;
        width: 434px; */
        height: fit-content;
        left: 0px;
        top: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        font-family: Heebo;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 38px;
        margin: 0px;
    /* identical to box height */
        color: #21243D;
                    /* Inside auto layout
                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;
                        margin: 0px 0px;
                     */
            

}

/*------------------------------------TAGS------------------------------------*/
.tags {
    /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;

        position: static;
        width: 241px;
        height: 40px;
        left: 0px;
        top: 44px;


    /* Inside auto layout */
        /* flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 0px; */
}
#year {
        font-family: Heebo;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;

        color: #ffffff;
        background-color: #21243D;
        border-radius: 25px;
        padding-left: 12px;
        padding-right: 12px;
}
#category {
    /* UX/UI Project */
        position: static;
        width: 121px;
        height: 29px;
        left: 120px;
        top: 15.5px;

        font-family: Heebo;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;

        color: #8695A4;

    /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 30px;
}
.projectImg {
    /* Auto layout */
        /* display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px; */

        /* position: static; */
        width: 246px;
        height: 176px;
        left: 0px;
        top: 0px;

        padding-top: 10px;

    /* Inside auto layout */
        /* flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 18px; */

            /* KEEEEEEP THISSS */
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
}
#projectA {
        background-image: url(/UX_UI_HW_19/Images/Project\ 1.jpg);
}
#projectB {
        background-image: url(/UX_UI_HW_19/Images/Project\ 2.jpg);
}
#projectC {
        background-image: url(/UX_UI_HW_19/Images/Project\ 3.jpg);
}
.line {
        /* position: static; */
        width: 800px;
        height: 0px;
        /* left: 25px;
        top: 565px;
         */
        border: 1px solid #E0E0E0;
    
    /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: center;
        flex-grow: 0;
        margin: 30px;
}

.snippet {
    /* Auto layout */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-left: 15px;


}
.myWork p {
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: fit-content;
max-width: 440px;
min-width: 90%;
        
        font-family: Heebo;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        padding-top: 5px;
        
        color: #21243D;
    
    /* Inside auto layout */
        /* flex: none; */
    order: 2;
      /*  align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px; */

}

/* .workGrid > div {
    margin: 5%;
    padding: 10px;
    /* max-width: 600px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    justify-content: center;
} */

/* #projectA {
    grid-area: projectA;
    background-image: url("../Images/FTC\ Desktop.png");
}
#projectB {
    grid-area: projectB;
    background-image: url("../Images/Project\ 2.jpg");
}
#projectC {
    grid-area: projectC;
    background-image: url("../Images/Project\ 3.jpg");
}
#projectABlurb {
    grid-area: projectABlurb;
    background-color: #f2b705;
    margin: 5px;
    padding: 15px;

}
#projectBBlurb {
    grid-area: projectBBlurb;
    background-color: #f2b705;
    margin: 5px;
    padding: 15px;
}
#projectCBlurb {
    grid-area: projectCBlurb;
    background-color: #f2b705;
    margin: 5px;
    padding: 15px;
}
.snippet {
    background-color: #f24405;
    text-align: right;
    max-width: 600px;
    overflow: hidden;
}
.categoryGridArea {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
} */
@media only screen and (min-width: 1000px) {
    #mobileNav {
        display: none;
        transition: ease-in 1s;
    }
    body, footer {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    #navBar, .heroBanner, .mySkills, .myWork, footer {
        scroll-snap-align: start;
    }
}

@media only screen and (max-width: 1000px) {
    .hero:hover {
        scale: 1;
    }
    #navigationLinks {
        display: none;
        transition: ease-out 3s;
    }
    .row {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
    }
    .myWork p {
        width: 300px;
    }
    .line {
        width: 90%;
        margin: 15px;
    }
    .projectImg {
        min-width: 275px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    /* .workGrid {
        margin: 10%;
    }*/
    /* body {
        overflow-y: scroll;
        scroll-snap-type: y proximity;
    }
    #navBar, .heroBanner, .mySkills, .myWork {
        scroll-snap-align: start; 
    }*/
    .myWork p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 500px) {
    .hero:hover {
        scale: 1;
    }
    .contentText {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .flexContainer {
        max-width: 350px;
    }
    #mobileNav {
        height: 20%;
    }
    .row {
        width: 100%;
    }
    .myWork p {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:300px;
    }
  
    .snippet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 250px;
        font-size: 12px;

    }
    .line {
        width: 90%;
        margin: 5px;
    }
    .projectImg {
        min-width: 275px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .snippet h4 {
        width: 250px;
    }
}

/*           Styles        */

body {
    font-family: 'Heebo', serif;
}
button {
    width: 150px;
    height: 45px;
    border-radius: 9px;
    background-color: #3A15BF;
    color: #FFFFFF;
    cursor: pointer;
}
/* section.myWork h3 {
    text-align: center;
    margin-bottom: 75px;
}
section.myWork h1 {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
} */
section.mySkills h1 {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
}
ul {
    background-color: #3A15BF;
    list-style: none;
    padding: 15px;

}
li {
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
}
/* .exitSymbol {
    text-align: end;
    list-style: none;
    padding: 5px;
    padding-right: 2%;
} */
li:active {
    font-style: oblique;
}
#slideDownMenu {
    display: none;

}

      /* Scroll-Snap-Type Test */

/* body {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}
#navBar, .heroBanner, .mySkills, .myWork {
    scroll-snap-align: start;
} */