#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    background-color: hsl(253, 67%, 82%);
    vertical-align: top;
    justify-content: space-between;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
}
.logo img {
    padding: 10px;
}
.longformLogo {
    padding: 5px;
}
#mobileNav {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    background-color: chocolate;
    align-items: center;
    cursor: pointer;
}
#navigationLinks {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: beige;
}
#navigationLinks p {
    cursor: pointer;
    text-decoration: #3A15BF;
}
/* .inline-block {
    display: inline-block;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.logo {
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
}

nav {
    width: 80%;
    text-align: end;
}

header {
    height: auto;
    justify-content: space-between;
    background-color: #FFFFFF;
}

ul {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

li {
    padding-left: 2%;
    padding-right: 2%;
} */

.heroImg {
    display: flex;
    height: 800px;
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-content: center;
    align-items: center;
    color: snow;
    background-color: #FFFFFF;
}

.content {
    max-width: 375px;
    max-height: fit-content;
    background-color: #FFFFFF;
    text-align: center;
    padding: 50px;
    color: #21243d;
}

footer {
    background-color: #FFFFFF;
    text-align: center;
    padding: 3%;
    color: #21243d;
}


/*            HW 18  -  My UX Skills & My Work        */


.flexContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #fa9f9f;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    max-width: 1100px;
    justify-self: center;
}
.flexContainer > div {
    margin: 2%;
    width: 237px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.workGrid {
    display: grid;
    margin-left: 10%;
    max-width: 1100px;
    margin-right: 10%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* justify-content: space-evenly; */
    background-color: #c00404;
    justify-self: center;
}
.workGrid > div {
    margin: 5%;
    padding: 10px;
    /* max-width: 600px; */
    background-color: rgb(255, 255, 255);
    text-align: left;
    justify-content: center;
}

@media only screen and (min-width: 1000px) {
    #mobileNav {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #navigationLinks {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
}

/*           Styles        */

/* h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
} */
body {
    font-family: 'Heebo', sans-serif;
}
button {
    width: 150px;
    height: 45px;
    border-radius: 9px;
    background-color: #3A15BF;
    color: #FFFFFF;
}
section.myWork h3 {
    text-align: center;
    margin-bottom: 75px;
}
section.myWork h1 {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
}
section.mySkills h1 {
    text-align: center;
    padding: 15px;
    margin-top: 100px;
}
